body {
    background-color: #ffde59;
    color: blueviolet;
}

html, body { 
    height: 100%;
}

/* Header */

.top_grid {
    background-color: blueviolet;
    color: #ffde59;
    display: flex;
    flex-direction: column;
}

.banner {
    display: flex;
    justify-content: center;
}

h1 {
    color: #ffde59;
    margin: 5px;
}

li {
    display: inline-block;
    list-style: none;
}

/* Main Page */

.main_grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.grid_pic {
    width: 100%;
    max-width: 600px;
}

h2 {
    margin: 10px;
}

/* About me */

.about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Footer */

footer {
    background-color: blueviolet;
    color: #ffde59;
    height: 50px;
    width: 100%;
}

footer a {
    color: #ffde59;
}

footer a:visited {
    color: #ffde59;
}

body > footer {
    position: sticky;
    top: 100vh;
  }

/* 
* Media Queries
*/

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}